In [2]:
import pandas as pd
file_path = r"/Users/poncho/Desktop/heat_map/iata-icao.csv"

messy_df1 = pd.read_csv(file_path)
messy_df1

,country_code,region_name,iata,icao,airport,latitude,longitude
0,AE,Abu Zaby,AAN,OMAL,Al Ain International Airport,24.2617,55.6092
1,AE,Abu Zaby,AUH,OMAA,Abu Dhabi International Airport,24.4330,54.6511
2,AE,Abu Zaby,AYM,NaN,Yas Island Seaplane Base,24.4670,54.6103
3,AE,Abu Zaby,AZI,OMAD,Al Bateen Executive Airport,24.4283,54.4581
4,AE,Abu Zaby,DHF,OMAM,Al Dhafra Air Base,24.2482,54.5477
...,...,...,...,...,...,...,...
8941,ZW,Masvingo,MVZ,FVMV,Masvingo Airport,-20.0553,30.8591
8942,ZW,Matabeleland North,HWN,FVWN,Hwange National Park Airport,-18.6299,27.0210
8943,ZW,Matabeleland North,VFA,FVFA,Victoria Falls Airport,-18.0959,25.8390
8944,ZW,Matabeleland North,WKI,FVWT,Hwange Town Airport,-18.3630,26.5198
8945,ZW,Midlands,GWE,FVTL,Thornhill Air Base,-19.4364,29.8619

In [4]:
# Filter the DataFrame to only include rows where country_code is 'US'
us_data = messy_df1[messy_df1['country_code'] == 'US']

# Display the filtered data
us_data

,country_code,region_name,iata,icao,airport,latitude,longitude
6602,US,Alabama,AIV,KAIV,George Downer Airport,33.1065,-88.1978
6603,US,Alabama,ALX,KALX,Thomas C. Russell Field,32.9147,-85.9630
6604,US,Alabama,ANB,KANB,Anniston Regional Airport,33.5882,-85.8581
6605,US,Alabama,ASN,KASN,Talladega Municipal Airport,33.5699,-86.0509
6606,US,Alabama,AUO,KAUO,Auburn University Regional Airport,32.6151,-85.4340
...,...,...,...,...,...,...,...
8625,US,Wyoming,SAA,KSAA,Shively Field,41.4449,-106.8240
8626,US,Wyoming,SHR,KSHR,Sheridan County Airport,44.7692,-106.9800
8627,US,Wyoming,THP,KTHP,Hot Springs County-Thermopolis Municipal Airport,43.7136,-108.3900
8628,US,Wyoming,TOR,KTOR,Torrington Municipal Airport,42.0645,-104.1530
8629,US,Wyoming,WRL,KWRL,Worland Municipal Airport,43.9657,-107.9510

In [6]:
# Keep only the specified columns in the DataFrame
us_data_filtered = us_data[['country_code', 'iata', 'latitude', 'longitude']]

# Display the filtered data with the selected columns
us_data_filtered

     country_code iata  latitude  longitude
6602           US  AIV   33.1065   -88.1978
6603           US  ALX   32.9147   -85.9630
6604           US  ANB   33.5882   -85.8581
6605           US  ASN   33.5699   -86.0509
6606           US  AUO   32.6151   -85.4340
...           ...  ...       ...        ...
8625           US  SAA   41.4449  -106.8240
8626           US  SHR   44.7692  -106.9800
8627           US  THP   43.7136  -108.3900
8628           US  TOR   42.0645  -104.1530
8629           US  WRL   43.9657  -107.9510

[2028 rows x 4 columns]

In [8]:
# Rename the 'iata' column to 'airport'
us_data_filtered.rename(columns={'iata': 'airport'}, inplace=True)

# Display the DataFrame with the renamed column
us_data_filtered

/var/folders/gv/0nrt3lxs1vl5d5bcbmv5lxqh0000gn/T/ipykernel_65878/4125026317.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_data_filtered.rename(columns={'iata': 'airport'}, inplace=True)

     country_code airport  latitude  longitude
6602           US     AIV   33.1065   -88.1978
6603           US     ALX   32.9147   -85.9630
6604           US     ANB   33.5882   -85.8581
6605           US     ASN   33.5699   -86.0509
6606           US     AUO   32.6151   -85.4340
...           ...     ...       ...        ...
8625           US     SAA   41.4449  -106.8240
8626           US     SHR   44.7692  -106.9800
8627           US     THP   43.7136  -108.3900
8628           US     TOR   42.0645  -104.1530
8629           US     WRL   43.9657  -107.9510

[2028 rows x 4 columns]

In [9]:
# Drop the 'country_code' column from the DataFrame
us_data_filtered.drop(columns=['country_code'], inplace=True)

# Display the DataFrame after dropping the column
us_data_filtered

/var/folders/gv/0nrt3lxs1vl5d5bcbmv5lxqh0000gn/T/ipykernel_65878/4183327704.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_data_filtered.drop(columns=['country_code'], inplace=True)

     airport  latitude  longitude
6602     AIV   33.1065   -88.1978
6603     ALX   32.9147   -85.9630
6604     ANB   33.5882   -85.8581
6605     ASN   33.5699   -86.0509
6606     AUO   32.6151   -85.4340
...      ...       ...        ...
8625     SAA   41.4449  -106.8240
8626     SHR   44.7692  -106.9800
8627     THP   43.7136  -108.3900
8628     TOR   42.0645  -104.1530
8629     WRL   43.9657  -107.9510

[2028 rows x 3 columns]

In [10]:
# Define the file path for the output CSV file
output_file_path = "/Users/poncho/Desktop/heat_map/locations.csv"

# Export the DataFrame to a CSV file named locations.csv without including the index
us_data_filtered.to_csv(output_file_path, index=False)

# Confirm that the export was successful
print("Data exported to locations.csv file successfully.")

Data exported to locations.csv file successfully.